<html>
<head>
    <%- include('layouts/head') -%>
</head>
<body>
<%- include('layouts/header') -%>
<h1><%= title %></h1>
<h1>This is about</h1>
<%- include('layouts/signIn') -%>
<%- include('layouts/footer') -%>
</body>

</html>
